@model IEnumerable<MyFinalProject.Models.Product>

@{
    ViewData["Title"] = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShowCart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.prodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prodDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prodStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prodPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.prodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prodDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prodStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prodPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.prodID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.prodID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.prodID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
